In [1]:
import plotly.graph_objects as go
import pandas as pd

In [2]:
df = pd.read_excel('applications.xlsx')
df.tail()

,Application,Applied,Ghosted,1st Interview,Rejected,Ghosted,Tech Exam,2nd Interview,Offer Declined,No Offer,Job Offer
21,A,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
22,K,1,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
23,C,1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN
24,G1,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
25,G2,1,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0

In [3]:
df = df.fillna(0)
df = df.drop(columns=['Application'])
df = df.astype('int32')

df.tail()

,Applied,Ghosted,1st Interview,Rejected,Ghosted,Tech Exam,2nd Interview,Offer Declined,No Offer,Job Offer
21,1,0,1,1,0,0,0,0,0,0
22,1,0,1,0,0,1,1,0,1,0
23,1,0,1,0,0,0,1,1,0,0
24,1,0,1,0,1,0,0,0,0,0
25,1,0,1,0,0,1,0,0,0,1

In [4]:
# # input paths
# df_paths = pd.DataFrame(columns=['Source', 'Target'])

# df_paths.loc[0] = ['Applied', 'Ghosted']
# df_paths.loc[1] = ['Applied', '1st Interview']
# df_paths.loc[2] = ['1st Interview', 'Rejected']
# df_paths.loc[3] = ['1st Interview', 'Tech Exam']
# df_paths.loc[4] = ['1st Interview', '2nd Interview']
# df_paths.loc[5] = ['1st Interview', 'Ghosted']
# df_paths.loc[6] = ['Tech Exam', '2nd Interview']
# df_paths.loc[7] = ['Tech Exam', 'Job Offer']
# df_paths.loc[8] = ['2nd Interview', 'No Offer']
# df_paths.loc[9] = ['2nd Interview', 'Offer Declined']

In [58]:
import numpy as np
df['Paths'] = None
df['Paths'] = df['Paths'].apply(lambda x: [col for col in df.columns[:-1] if df.any()>0] )

df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().